@model IEnumerable<Amigos.Models.Amigo>

@{
    ViewBag.Title = Resources.Resource.Cerca;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Cerca</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lati)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lati)
            </td>
            <td>
                @Html.ActionLink(@Resources.Resource.Edita, "Edit", new { id = item.ID }) |
                @Html.ActionLink(@Resources.Resource.Ve, "Details", new { id = item.ID }) |
                @Html.ActionLink(@Resources.Resource.Borra, "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>


<div>
    @Html.ActionLink(@Resources.Resource.VolverDeFiltro, "Index")
</div>