@model Amigos.Models.Amigo

@{
    ViewBag.Title = Resources.Resource.Borra;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Borra @Html.DisplayFor(model => model.name)</h2>

<h3>@Resources.Resource.StringBorrar @Html.DisplayFor(model => model.name)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lati)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resource.Borra class="btn btn-default" /> |
            @Html.ActionLink(Resources.Resource.VolverNormal, "Index")
        </div>
    }
</div>
