@model Amigos.Models.Amigo

@{
    ViewBag.Title = @Resources.Resource.Distancia;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Distancia</h2>
<h3>@Resources.Resource.Busca</h3>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)


    <p>@Html.DisplayNameFor(model => model.longi): @Html.EditorFor(model => model.longi) @Html.ValidationMessageFor(model => model.longi) </p>
    <p>@Html.DisplayNameFor(model => model.lati): @Html.EditorFor(model => model.lati) @Html.ValidationMessageFor(model => model.lati) </p>
    <p>@Resources.Resource.StringBuscar @Html.TextBox("Distance") @Resources.Resource.Unidades.</p>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Resource.BotonBuscar class="btn btn-default" />
            </div>
        </div>
}

    <div>
        @Html.ActionLink(@Resources.Resource.VolverNormal, "Index")
    </div>
