@{
    ViewBag.Title = Resource.Contacto; 
}
<h2>@Resource.Contacto</h2>

<address>
    @Resource.ContactoSede<br />
    @Resource.ContactoEmpresa<br />
    <abbr title=@Resource.Tel>@Resource.Tel:</abbr>
    555.555.555
</address>

<address>
    <strong>@Resource.Stecnico:</strong>   <a href="mailto:incidencias@example.com">incidencias@example.com</a><br />
    <strong>@Resource.Ventas:</strong> <a href="mailto:Ventas@example.com">Ventas@example.com</a>
</address>