@{
    ViewBag.Title = HomeResource.HomeResource.Contacto; 
}
<h2>@HomeResource.HomeResource.Contacto</h2>

<address>
    @HomeResource.HomeResource.ContactoSede<br />
    @HomeResource.HomeResource.ContactoEmpresa<br />
    <abbr title=@HomeResource.HomeResource.Tel>@HomeResource.HomeResource.Tel:</abbr>
    555.555.555
</address>

<address>
    <strong>@HomeResource.HomeResource.Stecnico:</strong>   <a href="mailto:incidencias@example.com">incidencias@example.com</a><br />
    <strong>@HomeResource.HomeResource.Ventas:</strong> <a href="mailto:Ventas@example.com">Ventas@example.com</a>
</address>